@page
@model Testare_TravelingApp.Pages.Activities.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Activity.Name" class="control-label"></label>
                <input asp-for="Activity.Name" class="form-control" />
                <span asp-validation-for="Activity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Activity.Description" class="control-label"></label>
                <input asp-for="Activity.Description" class="form-control" />
                <span asp-validation-for="Activity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Activity.Location" class="control-label"></label>
                <input asp-for="Activity.Location" class="form-control" />
                <span asp-validation-for="Activity.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.StartDate" class="control-label"></label>
                <input asp-for="Activity.StartDate" class="form-control" />
                <span asp-validation-for="Activity.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.EndDate" class="control-label"></label>
                <input asp-for="Activity.EndDate" class="form-control" />
                <span asp-validation-for="Activity.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
