@page
@model Testare_TravelingApp.Pages.Users.IndexModel

<h1>Users List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.User)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@user.UserId" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
