@page
@model Testare_TravelingApp.Pages.Agendas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Agenda</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Agenda.Title" class="control-label"></label>
                <input asp-for="Agenda.Title" class="form-control" />
                <span asp-validation-for="Agenda.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Agenda.DateCreated" class="control-label"></label>
                <input asp-for="Agenda.DateCreated" type="date" class="form-control" />
                <span asp-validation-for="Agenda.DateCreated" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Agenda.UserId" class="control-label"></label>
                <select asp-for="Agenda.UserId" class="form-control" asp-items="ViewBag.UserId">
                    <option value="">Please select...</option>
                </select>
                <span asp-validation-for="Agenda.UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Agenda.ActivityId" class="control-label"></label>
                <select asp-for="Agenda.ActivityId" class="form-control" asp-items="ViewBag.ActivityId">
                    <option value="">Please select...</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Agenda.RestaurantId" class="control-label"></label>
                <select asp-for="Agenda.RestaurantId" class="form-control" asp-items="ViewBag.RestaurantId">
                    <option value="">Please select...</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Agenda.NatureTrailId" class="control-label"></label>
                <select asp-for="Agenda.NatureTrailId" class="form-control" asp-items="ViewBag.NatureTrailId">
                    <option value="">Please select...</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Agenda.TouristAttractionId" class="control-label"></label>
                <select asp-for="Agenda.TouristAttractionId" class="form-control" asp-items="ViewBag.TouristAttractionId">
                    <option value="">Please select...</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
